<!DOCTYPE>
<html>
<head>
 <style>
head
    {
    font-size:30px;
  }
body
  {
  background-image: url("miss indoni.jpg");
  background-repeat:repeat-x;
  background-size:100%;
  font-size:25px;
  }

</style>
<body>
</body>
</head>
</html>
